@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  text-align: inherit;
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #f9fafe;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
}

.container {
  max-width: 727px;
  margin: 0 auto;
}

button {
  font: inherit;
  color: inherit;
  background-color: transparent;
}
button:hover {
  color: #0e367b;
}

.notification__list {
  margin: 30px 0px 63px 0;
  background-color: #ffffff;
  border-radius: 20px;
}
.notification__header {
  padding: 40px 30px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.notification__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 22px;
  font-weight: 700;
}
.notification__counter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #0c3575;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: 600;
}
.notification__clear {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #616770;
  line-height: 131%;
  font-weight: 500;
}
.notification__answer {
  background-color: #e5eff9;
  color: #5f6975;
  padding: 21px;
  border-radius: 10px;
  line-height: 131%;
  font-weight: 500;
  width: 565px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.unread::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff5453;
  border-radius: 50%;
  margin: 0 5px;
}

.unread-item {
  background-color: #f6fafd;
}

.notification-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-shadow: 0px 0px 10px rgb(247, 248, 252);
          box-shadow: 0px 0px 10px rgb(247, 248, 252);
  border-radius: 10px;
  color: #616B77;
}
.notification-item__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.notification-item__avatar img {
  width: 45px;
  margin: 18px;
}
.notification-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 18px 18px 18px 0;
}
.notification-item__name {
  font-weight: 700;
  line-height: 131%;
  color: #000000;
}
.notification-item__name:hover {
  color: #0e367b;
  cursor: pointer;
}
.notification-item__action {
  color: #616770;
  line-height: 131%;
  font-weight: 500;
}
.notification-item__object {
  font-weight: 700;
  color: #5d616c;
  line-height: 131%;
  font-weight: 600;
}
.notification-item__object:hover {
  color: #0e367b;
  cursor: pointer;
}
.notification-item__time {
  color: #9aa1ab;
  margin-top: 10px;
  font-weight: 500;
}
.notification-item__userpicture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.notification-item__userpicture img {
  width: 45px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.notification-item__userpicture img:hover {
  border: 2px solid #e4ebf1;
  cursor: pointer;
}