@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;800&display=swap');
// Обнуление
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{text-align: inherit; font-size: inherit; font-weight: 400;}

//конец обнуления

body{
    background-color:hsl(210, 60%, 98%);
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    
}
.container {
        max-width: 730px;
        margin: 0 auto;
        padding-bottom: 105px;
}

button{
    font: inherit;
    color: inherit;
    background-color: transparent;
    &:hover{
        color:hsl(219, 85%, 26%);
    }
}

.notification {

    &__body {
        margin: 30px 0px 30px 0;
        background-color:#ffffff;
        border-radius: 20px;        
        box-shadow: 0px 0px 10px hsl(211, 68%, 94%);
    }

    &__header {
        padding: 40px 30px 0px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        flex: 0 0 auto;
        font-size: 22px;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        
    }

    &__counter {
        flex: 0 0 auto;
        background-color: hsl(219, 85%, 26%);
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        padding: 3px 10px;
        margin-top: 2px;
        margin: 0 10px;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
    }

    &__clear {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
        color: hsl(219, 12%, 42%);
        line-height: 131%;
        font-weight: 500;
    }

    &__answer {
        margin-left: 115px;
        color:hsl(219, 12%, 42%);
        padding: 21px;
        border-radius: 10px;
        line-height: 131%;
        font-weight: 500;
        width: 565px;
        border: 1px solid hsl(205, 33%, 90%);
        &:hover{
            cursor: pointer;
            background-color:hsl(211, 68%, 94%);
        }
    }
}
.unread{
    &::before{
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: hsl(1, 90%, 64%);
        border-radius: 50%;
        margin: 0 5px;
    }
}
.unread-item{
    background-color:hsl(210, 60%, 98%);
    box-shadow: 0px 0px 10px hsl(211, 68%, 94%);

}
.notification-item {

    &__box {
        display: flex;
        margin: 20px 30px;
        border-radius: 10px;
        color: #616B77;
    }

    &__avatar {
        img{
           width: 45px;
           margin: 18px;
        }
    }

    &__text {
        margin: 18px 18px 18px 0;
    }

    &__string {

    }

    &__name {
        
        font-weight: 700;
        line-height: 131%;
        color: #000000;
        &:hover{
            color:hsl(219, 85%, 26%);
            cursor: pointer;
        }
    }

    &__action {
        color: #616770;
        line-height: 131%;
        font-weight: 500;
    }

    &__object {
        font-weight: 700;
        color: #5d616c;
        line-height: 131%;
        font-weight: 600;
        &:hover{
            color:hsl(219, 85%, 26%);
            cursor: pointer;
        }
    }

    &__unread {
    }

    &__time {
        color: #9aa1ab;
        margin-top: 10px;
        font-weight: 500;
    }

    &__userpicture {
        display: flex;
        align-items: center;
        margin-right: 20px;

        img{
            width: 45px;
            border: 2px solid#fff;
            border-radius: 5px;
            
            &:hover{
                border: 2px solid#e4ebf1;
                cursor: pointer;
            }
            
        }
    }
}
.notification-item-pic {

    &__box {
        display: flex;
        margin: 20px 30px;
        border-radius: 10px;
        color: #616B77;
    }

    &__avatar {
        flex: 0 0 auto;
        img{
           width: 45px;
           margin: 18px;
        }
    }

    &__text {
        flex: 1 0 auto;
        margin: 18px 18px 18px 0;
    }

    &__name {
        font-weight: 700;
        line-height: 131%;
        color: #000000;
        &:hover{
            color:hsl(219, 85%, 26%);
            cursor: pointer;
        }
    }

    &__action {
        color: hsl(219, 12%, 42%);
        line-height: 131%;
        font-weight: 500;
    }

    &__object {
        font-weight: 700;
        color: #5d616c;
        line-height: 131%;
        font-weight: 600;
        &:hover{
            color:hsl(219, 85%, 26%);
            cursor: pointer;
        }
    }

    &__unread {
    }

    &__time {
        color: #9aa1ab;
        margin-top: 10px;
        font-weight: 500;
    }

    &__userpicture {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin-right: 20px;

        img{
            width: 45px;
            border: 2px solid#fff;
            border-radius: 5px;
            
            &:hover{
                border: 2px solid#e4ebf1;
                cursor: pointer;
            }
            
        }
    }
}
